# -------------------------
# Miscellaneous
# -------------------------
*.class
*.log
*.pyc
*.swp
*.tmp
*.temp
*.orig
*.bak
*.rej
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDEs
# -------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -------------------------
# Flutter / Dart / Pub
# -------------------------
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
**/doc/api/
coverage/
generated_plugin_registrant.dart

# -------------------------
# Android
# -------------------------
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
/android/*.iml
/android/app/*.keystore
/android/app/debug
/android/app/profile
/android/app/release

# -------------------------
# iOS
# -------------------------
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
*.xcworkspace
*.xcuserdata/
*.xcuserstate

# -------------------------
# Firebase / Google
# -------------------------
google-services.json
GoogleService-Info.plist
firebase_options.dart

# -------------------------
# Symbolication & Obfuscation
# -------------------------
app.*.symbols
app.*.map.json
